/* General mixes spacing errors */
* {
    margin: 0 auto;
}
/* General body and header styles */
body {
    margin: 0;
    background-color: #efdeb6;
}

/* General styles for the header and navigation bar */
header {
    margin: 0;
    margin-top: 5vh;  
    text-align: center;
    background-color: #556b2f;
    position: relative;  /* Added for potential animations */
}

/* Define the growIn keyframes globally*/
@keyframes grow {
    from {
        width: 1%; top: 100%; left: 53%;
        opacity: 0;  
    }
    to {
        width: 70%; top: 4.5%; left: 16%;
        opacity: 1;  

    }
}

/* New styles for the tree image animation */
#tree {
    position: absolute;
    top: 4.5%;   
    left: 16%;   
    width: 70%; 
    animation-name: grow;
    animation-duration: 3s; 
    
}

/* Manipulates the Green Image for the Header */
#banner { 
    /*Manipulates the Green Image for the Header*/
        display: block;
        margin: 0 auto 20px auto; 
        width: 100%; 
    }

/* Manipulates the navigation bar div */
nav {
    background-color: #3b4d2a;
    position: fixed;
    top: -10px;  
    right: 0;
    width: 100%;
    height: 80px;  
    align-items: center; 
    z-index: 100;
}

/*Manipulates the navigation bar content*/
nav a{
    margin-top: -30px;
    margin-right: 10px;
    float: right;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 100;
}

/* actual code for the animation for nav */
nav a:hover{
    transform: translateY(-10px) scale(1.1);
}

/*adds animations for the logo also*/
nav img{
    transition: transform 0.5s ease;
    margin-top: 5px;
    float: left;
}

/* actual code for the animation for nav image */
nav img:hover{
    transform: translateY(-20px) scale(1.1);
}


/* section styling including image float */
section{
    font-size: 22.5px;
    margin-top: 20px;
    text-align: justify;
    overflow: auto;
    width: 95%;
}

/*  image styling */
section img{
    font-size: 22.5px;
    margin: 10px;
    float: left;
}

/* Main content area styling */
main{
    width: 80%;
}

/* Aside styling including hover effects */
aside{
    transition: background-color 1.5s ease, color 1.5s ease;
    margin: 0;
    background-color: rgb(194, 157, 157);
    width: 60%;
}

/* Aside hover effects */
aside:hover{
    background-color: rgb(0, 201, 33);
    color: rgb(12, 12, 12);
}

/* Sprite icon styling */
.spriteText{
    font-size: 18.5px;
    margin-top: 10px;
    overflow: hidden; /* forces text to stay on the right */
}

/* Wrapper for icons and text */
.iconwrapper{
    margin: auto;
    float: left;
    margin-right: 5%;
    width: 45%;
    margin-bottom: 20px;
    overflow: auto;
}

/* Individual icon styling */
#icon1 {
    background: url('../images/Spritesko.png') no-repeat -59px -343px;
	width: 140px;
	height: 135px;
    float: left;
    margin-right: 20px; /* space between sprite and text */
    animation: hoverAnim1 3s paused forwards; /* Animation paused by default */
}

/* Individual icon styling */
#icon2 {
    background: url('../images/Spritesko.png') no-repeat -234px -343px;
	width: 140px;
	height: 135px;
    float: left;
    margin-right: 20px; /* space between sprite and text */
    animation: hoverAnim2 3s paused forwards; /* Animation paused by default */
}

/* Individual icon styling */
#icon3 {
    background: url('../images/Spritesko.png') no-repeat -409px -343px;
	width: 140px;
	height: 135px;
    float: left;
    margin-right: 20px; /* space between sprite and text */
    animation: hoverAnim3 3s paused forwards; /* Animation paused by default */
}

/* Individual icon styling */
#icon4 {
    background: url('../images/Spritesko.png') no-repeat -584px -343px;
	width: 140px;
	height: 135px;
    float: left;
    margin-right: 20px; /* space between sprite and text */
    animation: hoverAnim4 3s paused forwards; /* Animation paused by default */
}

/* Individual icon styling */
#icon5 {
    background: url('../images/Spritesko.png') no-repeat -759px -343px;
	width: 140px;
	height: 135px;
    float: left;
    margin-right: 20px; /* space between sprite and text */
    animation: hoverAnim5 3s paused forwards; /* Animation paused by default */
}

/* Individual icon styling */
#icon6 {
    background: url('../images/Spritesko.png') no-repeat -934px -339px;
	width: 140px;
	height: 135px;
    float: left;
    margin-right: 20px; /* space between sprite and text */
    animation: hoverAnim6 3s paused forwards; /* Animation paused by default */
}

/* Individual icon styling */
#icon7 {
    background: url('../images/Spritesko.png') no-repeat -1113px -339px;
	width: 140px;
	height: 135px;
    float: left;
    margin-right: 20px; /* space between sprite and text */
    animation: hoverAnim7 3s paused forwards; /* Animation paused by default */
}

/* Individual icon styling */
#icon8 {
    background: url('../images/Spritesko.png') no-repeat -1299px -342px;
	width: 140px;
	height: 135px;
    float: left;
    margin-right: 20px; /* space between sprite and text */
    animation: hoverAnim8 3s paused forwards; /* Animation paused by default */
}



/*Adding animations for each icon */
#icon1:hover {
  animation-play-state: running;
}
#icon2:hover {
  animation-play-state: running;
}
#icon3:hover {
  animation-play-state: running;
}
#icon4:hover {
  animation-play-state: running;
}
#icon5:hover {
  animation-play-state: running;
}
#icon6:hover {
  animation-play-state: running;
}
#icon7:hover {
  animation-play-state: running;
}
#icon8:hover {
  animation-play-state: running;
}

/* Keyframes for icon hover animations */
@keyframes hoverAnim1 {
  0%   { background-position:   -59px -343px;}   /* frame 1 */
  50%  { background-position:   -59px -489px;}   /* frame 2 */
  100% { background-position: -59px -635px;}   /* frame 3 */
}
@keyframes hoverAnim2 {
  0%   { background-position:   -234px -343px;}   /* frame 1 */
  50%  { background-position:   -234px -489px;}   /* frame 2 */
  100% { background-position: -237px -635px;}   /* frame 3 */
}
@keyframes hoverAnim3 {
  0%   { background-position:   -409px -343px;}   /* frame 1 */
  50%  { background-position:   -409px -489px;}   /* frame 2 */
  100% { background-position: -412px -635px;}   /* frame 3 */
}
@keyframes hoverAnim4 {
  0%   { background-position:   -584px -343px;}   /* frame 1 */
  50%  { background-position:   -588px -492px;}   /* frame 2 */
  100% { background-position: -588px -638px;}   /* frame 3 */
}
@keyframes hoverAnim5 {
  0%   { background-position:   -759px -343px;}   /* frame 1 */
  50%  { background-position:   -762px -489px;}   /* frame 2 */
  100% { background-position: -762px -635px;}   /* frame 3 */
}
@keyframes hoverAnim6 {
  0%   { background-position:   -934px -339px;}   /* frame 1 */
  50%  { background-position:   -937px -485px;}   /* frame 2 */
  100% { background-position: -937px -631px;}   /* frame 3 */
}
@keyframes hoverAnim7 {
  0%   { background-position:   -1113px -339px;}   /* frame 1 */
  50%  { background-position:   -1116px -485px;}   /* frame 2 */
  100% { background-position: -1116px -631px;}   /* frame 3 */
}
@keyframes hoverAnim8 {
  0%   { background-position:   -1299px -342px;}   /* frame 1 */
  50%  { background-position:   -1302px -488px;}   /* frame 2 */
  100% { background-position: -1302px -634px;}   /* frame 3 */
}

/* Styling for the already done projects section */
#graywarps{
    clear: both;
    margin-top: 50px;
    background-color: #556b2f;
    margin-bottom: 50px;
}
/* Styling for the already done projects content */
#projects{
    width: 95%;
    margin: auto;
}
/* Styling for the already done projects title */
#projectstitle {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

#finals{
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
}
#final{
    text-align: justify;
    font-size: 25px;
}

/*Footer bar*/
footer {
    clear: both;
    background-color: #c6d870;
    position: relative;
    bottom: 0%;
    left: -1%;       
    width: 100%;     
    height: 425px;     
    font-size: large;
    z-index: 99;
    padding: 10px;
    }

/*Footer content styling, adding transitions and animations*/
footer a{
    transition: color 0.3s ease, box-shadow 0.3s ease;
}
footer a:link{
    color: blue;
}
footer a:hover{
    color: red;
}
footer a:visited{
    color: gray;
}
footer a:active{
    color: cyan;
}

